/*BODY*/
body {
    overflow-x: hidden;
    font-family: sans-serif;
/*    color: #505962;*/
/*    background-color: #505962;*/
}
/*END BODY*/



/*NAVBAR*/
.navbar {
    text-transform: uppercase;
}

.navbar-brand img {
    height: 2rem;    
}
/*END NAVBAR*/





.home-inner {
    background-image: url('../img/landing.png');
}

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 40%;
    z-index: 1;
}

.caption h3 {
    color: white;
    font-size: 2.4rem;
    text-transform: uppercase;
    padding-bottom: 2rem;
}

.btn {
    border-bottom-width: medium;
    border-radius: 0;
    text-transform: uppercase;
    padding: .5rem 1.1rem;
    font-size: .9rem;
}




/*ABOUT*/
.jumbotron {
    background-color: white;
}

h3.heading {
    text-align: center;
    font-size: 1.9rem;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
    margin-top: 1.9rem;
}
/*EN ABOUT*/




.padding {
    padding: 2rem 0;
}




/*PORTFOLIO*/

img.portfolio {
    max-width: 100%;
}
/*END PORTFOLIO*/




.no-padding .col-md-6 {
    padding: 0;
}

.card {
    margin: 2rem;
}

/*FOOTER*/
.footer .row {
    background-color: #505962;
    padding: 1rem 2rem 3rem;
    color: white;
}

.footer img {
    height: 2rem;
    margin: 1.5rem 0;
}
/*END FOOTER*/